{
  "branches": [
    {
      "name": "main",
      "channel": "latest"
    },
    {
      "name": "next",
      "channel": "next",
      "prerelease": true
    },
    {
      "name": "beta",
      "channel": "beta",
      "prerelease": true
    }
  ],
  "repositoryUrl": "https://x-access-token:${GITHUB_TOKEN}@github.com/faablecloud/auth-js.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": [
              "pkg/dist/*.js"
            ],
            "from": "0.0.0-dev",
            "to": "${nextRelease.version}"
          },
          {
            "files": [
              "pkg/dist/*.js"
            ],
            "from": "0000000dev",
            "to": "${nextRelease.gitHead.slice(0, 7)}"
          }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "pkgRoot": "pkg",
        "otp": false,
        "useOidc": true
      }
    ]
  ]
}
